<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokémon search with RIFE2 and htmx</title>
    <link rel="stylesheet" href="{{v webapp:rootUrl/}}css/tailwind.css?{{v context:paramRandom/}}">
    <script src="https://unpkg.com/htmx.org@2.0.10"></script>
</head>
<body>
<div>
    <div class="p-6" role="search">
        <label for="pokemon-name" class="block text-sm font-medium text-gray-700">Name</label>
        <div class="mt-1">
            <input hx-get="{{v route:search /}}"
                   hx-target="#pokemon-list"
                   hx-swap="innerHTML"
                   hx-trigger="keyup changed delay:250ms, search"
                   hx-push-url="true"
                   type="search"
                   name="pokemon-name"
                   id="pokemon-name"
                   value="{{v param:pokemon-name}}{{/v}}"
                   autocomplete="off"
                   class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
        </div>
    </div>
</div>

<div id="pokemon-list" aria-live="polite">
    <!--v list /-->
</div>
</body>
</html>

<!--bv list-->
<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 p-6">
    <!--v rows /-->
    <!--b pokemon-->
    <li data-testid="pokemon_list_item" class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow">
        <div class="flex w-full items-center justify-between space-x-6 p-6">
            <div class="flex-1 truncate">
                <div class="flex items-center space-x-3">
                    <h3 data-testid="pokemon_name" class="truncate text-sm font-medium text-gray-900">
                        <!--v pokemon_name /-->
                    </h3>
                    <span data-testid="pokemon_number" class="inline-block flex-shrink-0 rounded-full bg-green-100 px-2 py-0.5 text-xs font-medium text-green-800">
                        <!--v pokemon_num /-->
                    </span>
                </div>
                <p data-testid="pokemon_type" class="mt-1 truncate text-sm text-gray-500">
                    <!--v pokemon_type /-->
                </p>
            </div>
            <img class="h-10 w-10 flex-shrink-0 rounded-full bg-gray-300" src="{{v pokemon_img /}}" alt="" />
        </div>
    </li>
    <!--/b-->
    <!--b empty-->
    <li data-testid="pokemon_empty" class="col-span-1 p-6 text-sm text-gray-500">
        No Pokémon match that name.
    </li>
    <!--/b-->
</ul>
<!--/bv-->
